.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
 
.logo{
    width: 100px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
  
   

}
.nav-items > ul >li {
   padding: 10px;
   margin: 10px;
   
}
.search{
    margin:5px;
}

.res-card{
    width: 200px;
    padding: 7px;
    overflow: hidden
}
.res-card:hover{
    border: 3px solid teal;
    cursor: pointer;
   
}
.res-img{
    width: 100%;
    background-attachment:fixed ;
}
.rescard-container{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    flex-wrap: wrap;
}
@media (min-width: 900px) {
    .rescard-container {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
      margin: auto;
      align-items: stretch;  
  
  }
  }

  .filter-btn{
    margin: 10px;
    cursor: pointer;
  }